<div class="fondo">
    <div class="container">
        <div class="blood-drip"></div>
        <div class="blood-drip"></div>
        <div class="blood-drip"></div>
        <div class="blood-drip"></div>

        <div class="header">
            <h1>Catálogo de Pesadillas</h1>
            <p>Explora nuestra colección de terror cinematográfico para encontrar tu próxima pesadilla.</p>
        </div>

        <div class="search-bar">
            <input type="text" class="search-input text-center" placeholder="Buscar película por nombre... 🔍"
                [(ngModel)]="searchTerm" (input)="busquedaPelicula()">
        </div>


        <div class="filters-container">
            <div class="filtro-fila row">
                <div class="filtroSubgenero">
                    <select [(ngModel)]="subgeneroSeleccionado" name="sub" id="sub">
                        <option [ngValue]="null">-- Selecciona un Subgénero --</option>
                        <option *ngFor="let sub of subgeneros" [value]="sub.id">{{sub.nombre}}</option>
                    </select>
                </div>

                <div class="filtroDirector">
                    <select [(ngModel)]="directorSeleccionado" name="dir" id="dir">
                        <option [ngValue]="null">-- Selecciona un Director --</option>
                        <option *ngFor="let dir of directores" [value]="dir.id">{{dir.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class="filtroAnio">
                <label for="anioInicio"> Desde:</label>
                <input type="number" id="anioInicio" name="anioInicio" [(ngModel)]="anioInicio"
                    (change)="validarRango('inicio')" placeholder="Ej: 1950" min="1950" max="2025" />

                <label for="anioFin" class=" mt-2"> Hasta:</label>
                <input type="number" id="anioFin" name="anioFin" [(ngModel)]="anioFin" (change)="validarRango('fin')"
                    placeholder="Ej: 2025" min="1950" max="2025" />
            </div>

            <div class="filtro-duracion d-flex justify-content-center">
                <h5>Duración:</h5>
                <div class="duracion-barra">

                    <input type="range" min="0" max="200" [(ngModel)]="duracionMaxima" step="5" class="slider"
                        id="duracionSlider" (input)="onDuracionChange()">
                    <div class="duracion-marcas">
                        <span>0</span>
                        <span>45</span>
                        <span>95 min</span>
                        <span>145</span>
                        <span>+195</span>
                    </div>

                    <div class="duracion-actual text-warning">
                        <small>{{ obtenerTextoDuracion() }}</small>
                    </div>

                </div>
            </div>

            <div class="filtroPremio">
                <label>
                    <input type="checkbox" [(ngModel)]="conPremio" />
                    Solo con premio
                </label>

            </div>

            <div class="botonFiltro">
                <button (click)="limpiarFiltros()" class="btn-limpiar-filtros">
                    Limpiar filtros
                </button>
            </div>

        </div>

        <div class="row m-5 p-5">
            <div class="col-12 col-md-3 col-lg-4" *ngFor="let peli of aplicarFiltros()">
                <!--img-fluid clase de boostrap que se ajusta auto-->
                <a [routerLink]="['/pelicula', peli.id]" class="text-decoration-none" routerLinkActive="active">
                    <img class="img-fluid rounded shadow mb-4" [src]="peli.poster" [alt]="peli.titulo">
                </a>

                <a [routerLink]="['/editarPelicula', peli.id]" class="text-decoration-none" routerLinkActive="active">
                    <button class=" mb-3 bg-success text-white rounded">Editar</button> </a>

                <button *ngIf="estaLogueado() && usuario?.rolUsuario === 'ADMINISTRADOR'"
                    class=" mb-3 ms-3 bg-danger text-white rounded" (click)="borrarPelicula(peli.id)">Borrar</button>
            </div>
        </div>
    </div>

</div>