<header>
    <nav>
        <div class="nav-left">
            <a [routerLink]="['/']" routerLinkActive="active">
                <img src="/favicon.ico" alt="NightmareBox">
                NightmareBox</a>
        </div>

        <div class="nav-center">
            <a [routerLink]="['/directores']" routerLinkActive="active">Directores</a>
            <a [routerLink]="['/peliculas']" routerLinkActive="active">Películas</a>
            <a [routerLink]="['/random']" routerLinkActive="active">Random</a>
        </div>

        <div class="nav-right">
            <a *ngIf="estaLogueado() && usuario?.rolUsuario === 'ADMINISTRADOR'" [routerLink]="['/usuarios']" class="me-3 text-primary">Usuarios</a>

            <a *ngIf="estaLogueado()" [routerLink]="['/perfil', nombreUsuario]">{{nombreUsuario}}</a>
            <!--PONER {{ }} para una variable del ts-->

            <a *ngIf="estaLogueado()" (click)="cerrarSesion()" class="cursor"> / Cerrar sesión</a>

            <a *ngIf="!estaLogueado()" [routerLink]="['/login']">Iniciar Sesión </a>
            <a *ngIf="!estaLogueado()" [routerLink]="['/signUp']">/ Registrarse</a>
        </div>
    </nav>
</header>