<div class="crt-presentacion">
    <div class="crt-table-container">
        <h3 class="genre-title text-center">Películas Favoritas ⭐</h3>

        <div class="favorites-counter text-center mt-3 mb-1">
            {{ peliculasFavoritas.length }} películas en tu colección <i class="bi bi-collection-fill ms-1"></i>
        </div>

        <div class="row">
            <!--1para moviles, 3 para grandes...-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4" *ngFor="let pelicula of peliculasFavoritas">
                <div class="movie-card-container">
                    <img [src]="pelicula.poster" class="img-fluid rounded shadow" [alt]="pelicula.titulo">

                    <div class="movie-overlay">
                        <div class="movie-title">{{ pelicula.titulo }}
                        </div>
                        <div class="movie-info">
                            <span>{{pelicula.year}}</span>
                            <span class="movie-rating">{{ pelicula.mediaValoracion}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>