<div class="crt-presentacion">
    <div class="crt-table-container">
        <h3 class="genre-title text-center">Películas Favoritas ⭐</h3>
        <div class="row" *ngFor="let pelicula of listarPeliculasFavoritas()">
            <!--1para moviles, 3 para grandes...-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4">
                <img [src]="pelicula.poster" class="img-fluid rounded shadow" [alt]="pelicula.poster">
            </div>

            <!-- ... puedes seguir añadiendo más películas -->
        </div>

    </div>
</div>