<body>
    <div class="container">
        <div class="header">
            <h1>Maestros del Terror</h1>
            <p>Algunos de los directores que han definido el género del horror</p>
        </div>

        <!--DESTACADOS-->
        <div class="featured-directors" *ngIf="directores">
            <h2 class="section-title">Directores Destacados</h2>
            <div class="featured-grid">

                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[18].poster"></div>
                        <div class="featured-info">
                            <h3>{{directores[18].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro del Slasher</h4>
                            <p class="fs-5">{{directores[18].paises}}</p>
                            <p class="fs-5"> {{directores[18].edad}} años
                                (fallecido)</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Creador de iconos del terror como Freddy Krueger conocido por reinventar el género con enfoques
                        metacinematográficos e inteligentes. Su obra combina lo macabro con la crítica social y el humor
                        negro, dejando una huella imborrable en el slasher
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[18].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>

                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[0].poster"></div>
                        <div class="featured-info">
                            <h3>{{directores[0].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro del Body Horror</h4>
                            <p class="fs-5">{{directores[0].paises}}</p>
                            <p class="fs-5"> {{directores[0].edad}} años</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Conocido por explorar los límites entre la carne y la tecnología. Su
                        cine destaca por una estética perturbadora y profunda carga filosófica, convirtiéndolo en un
                        referente del terror psicológico y visceral que incomoda tanto como fascina.
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[0].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>
                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[2].poster"></div>
                        <div class="featured-info">
                            <h3>{{directores[2].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro de lo Psicológico</h4>
                            <p class="fs-5"> {{directores[2].paises}}</p>
                            <p class="fs-5">{{directores[2].edad}} años
                                (fallecido)</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Revolucionó el cine de terror moderno al reinventar la figura del zombi con un enfoque crítico y
                        social. Maestro del terror político, sus películas combinan horror visceral con mensajes sobre
                        la humanidad, el consumismo y el colapso de la civilización
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[2].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>
                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[12].poster"></div>
                        <div class="featured-info">
                            <h3>{{directores[12].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro de los Zombies</h4>
                            <p class="fs-5"> {{directores[12].paises}}</p>
                            <p class="fs-5"> {{directores[12].edad}} años
                                (fallecido)</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Revolucionó el cine de terror moderno al reinventar la figura del zombi con un enfoque crítico y
                        social. Maestro del terror político, sus películas combinan horror visceral con mensajes sobre
                        la humanidad, el consumismo y el colapso de la civilización
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[12].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>

                    </div>
                </div>
                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[22].poster"> </div>
                        <div class="featured-info">
                            <h3>{{directores[22].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro de los Monstruos</h4>
                            <p class="fs-5"> {{directores[22].paises}}</p>
                            <p class="fs-5">{{directores[22].edad}} años
                                (fallecido)</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Pionero del cine de monstruos japonés, su legado va más allá del entretenimiento: a través de
                        criaturas como Godzilla, canalizó los miedos nucleares de la posguerra con una sensibilidad
                        apocalíptica y crítica. Su estilo marcó el nacimiento del kaiju eiga..
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[22].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>

                <div class="featured-card">
                    <div class="featured-header">

                        <div class="featured-image"><img [src]="directores[8].poster"></div>
                        <div class="featured-info">
                            <h3>{{directores[8].nombre}}</h3>
                            <h4 class="mt-3 mb-3">Maestro del Found Footage</h4>
                            <p class="fs-5"> {{directores[8].paises}}</p>
                            <p class="fs-5"> {{directores[8].edad}} años</p>
                        </div>
                    </div>

                    <div class="featured-description">
                        Su debut con Paranormal Activity redefinió el terror
                        minimalista. Con recursos limitados y atmósfera doméstica, logró generar un miedo cotidiano,
                        sutil e inquietante, influenciando una nueva generación de cineastas del horror digital.
                    </div>

                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(directores[8].id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>
            </div>
        </div>


        <!--GENERALES-->
        <h2 class="section-title">Todos los Directores</h2>

        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar director por nombre..." [(ngModel)]="searchTerm"
                (input)="onSearchChange()">
        </div>

        <div class="directors-grid">
            <div class="director-card bg-black" *ngFor="let director of genralesFiltro()">
                <!-- uno más en las id por como funcionan los arrays/listas-->
                <div class="featured-image d-flex justify-content-center"><img [src]="director.poster"></div>
                <div class="director-name mt-2">{{director.nombre}}</div>
                <div class="director-data">{{director.edad}} años</div>
                <div class="director-data">{{director.paises}}</div>
                <div class="director-stats">
                    <div class="featured-films d-flex justify-content-center"
                        *ngIf="listaPeliculasDirector(director.id) as peliculasDirector">
                        <span class="film-tag" *ngFor="let pelicula of peliculasDirector">{{pelicula.titulo}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>