<div class="crt-presentacion">

  <div class="crt-table-container">

      <div class="crt-row">
        <div class="crt-cell">
          <h3 class="genre-title">Slasher</h3>
          <div class="carousel">...</div>
        </div>
        <div class="crt-cell">
          <h3 class="genre-title">Fantasmas</h3>
          <div class="carousel">...</div>
        </div>
      </div>

      <div class="crt-row">
        <div class="crt-cell">
          <h3 class="genre-title">Zombies</h3>
          <div class="carousel">...</div>
        </div>
        <div class="crt-cell">
          <h3 class="genre-title">Psicológico</h3>
          <div class="carousel">...</div>
        </div>
      </div>
      
      <div class="crt-row">
        <div class="crt-cell">
          <h3 class="genre-title">Zombies</h3>
          <div class="carousel">...</div>
        </div>
        <div class="crt-cell">
          <h3 class="genre-title">Psicológico</h3>
          <div class="carousel">...</div>
        </div>
      </div>

    </div>
  </div>